__pycache__/
.pytest_cache
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
instance/
.webassets-cache
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.cache
.coverage
.coverage.*
*.cover
*.py.cover
htmlcov/
.pkl
.zip
lib
bin
